
<h1 class="">Indian Movies</h1> 
<div class="container my-4 d-flex flex-wrap" >
    
<div class="card d-inline-block mx-lg-2 my-2" style="width: 18rem;" *ngFor="let item of indianMovies">
    <img src="{{item.img}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ item.year }}</li>
      <li class="list-group-item">{{ item.quality }}</li>
    </ul>
    <div class="card-body">  
         <a [href]="item.trailer" class="btn btn-primary" target="_blank">Watch Trailer</a>
    </div>
  </div>
</div>




  